body {
  margin: 0;
  overflow: hidden;
  background-color: white;
}

.container {
  position: relative;
}

.message {
  width: 100%;
  color: white;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  text-align: center;
}
