body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.container {
  position: relative;
}

.message {
  width: 100%;
  color: white;
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#friends {
  position: absolute;
  left: 0px;
  top: 0px;
  max-width: 250px;
  height: auto;
  z-index: 1;
}

p {
  max-width: 50%;
}